@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Luckiest+Guy&display=swap');

:root {
  --primary: #003049;
  --black: #eae2b7;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
body {
  margin: 0;
  font-family: 'Lilita One', Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

#titleofnav {
  font-family: 'Luckiest Guy', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: var(--black);
  background-color: var(--primary);
  width: 100vw;
  top: 0;
  left: 0;
  margin-top: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 80%;

  border-radius: 1rem;
  padding: 15px 10px;
  font-size: 1rem;
  font-family: 'Lilita One', Helvetica, Arial, sans-serif;
  text-align: left;
  border: 3px solid #05445e;
}

#btn-translate {
  border-radius: 0.5rem;
  background-color: var(--primary);
  border: none;
  margin: 1rem 0rem;
  padding: 10px 15px;
  font-family: 'Luckiest Guy', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: block;
  color: var(--black);
}

.line {
  text-align: center;
  font-size: 1rem;
  color: var(--primary);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#output {
  border: 3px solid #05445e;
  border-radius: 1rem;
  width: 80%;
  padding: 1.2rem 10px;
  height: 2rem;
  overflow: scroll;
}

.image {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #2e8bc0;
  box-shadow: 0 0 10px #1e3d58;
}
li {
  list-style-type: none;
  margin-left: 0.5rem;
}

ul {
  display: flex;
}

footer a {
  color: black;
  font-size: 1.5rem;
  padding: 0 0.7rem;
}

.footer-heading {
  text-align: center;
  font-weight: 700;
}

footer a:hover {
  color: #fff;
}
